.login{
  display: grid;
  grid-template-columns: 3fr 1fr;

  .login-image{
    grid-column: 1/2;
    img{
    width: 100%;
    min-height: 100vh;
    }
  }
  .login-operations{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: snow;
  }
  .login-btn{
    text-align: center;
  }
}
