<section class="login">
  <div class="login-image">
    <img [src]="url" alt="background-image" />
  </div>

  <div class="login-operations">
    <h1>Pokemon Game Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)" >

      <mat-error *ngIf="loginForm.controls['email'].hasError('email') &&
      !loginForm.controls['email'].hasError('required')">Please enter a valid Email</mat-error>
      <mat-error *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].dirty" > Email is required</mat-error>

      <app-input
        type="text"
        label="Email"
        placeholder="xyz@wqa.com"
        formControlName="email"
      >

      </app-input>

      <mat-error *ngIf="loginForm.controls['password'].hasError('minlength') &&
!loginForm.controls['password'].hasError('required')"> Please enter a valid Password</mat-error>
<mat-error *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].dirty"> Password is required</mat-error>

      <app-input
        type="password"
        label="Password"
        placeholder="****"
        formControlName="password"
      >
      </app-input>
      <div class="login-btn">
        <app-button *ngIf="!loginForm.invalid"> Login </app-button>
      </div>
    </form>
  </div>
</section>

<!-- [isValid]="
loginForm.controls['email'].hasError('email') &&
!loginForm.controls['email'].hasError('required')
"
[isEmpty]="loginForm.controls['email'].hasError('required')" -->

