
<div class="login-operations">
  <h3>{{dialogData.dialogTitle}}</h3>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)" >

    <mat-error *ngIf="form.controls['name'].hasError('required') && form.controls['name'].dirty" > Name is required</mat-error>

    <app-input
      type="text"
      label="Name"
      formControlName="name"
      [initialValue]="pokemonData.name"
    >
    </app-input>

<mat-error *ngIf="form.controls['level'].hasError('required') && form.controls['level'].dirty">Level is required</mat-error>

    <app-input
      type="number"
      label="Level"
      formControlName="level"
      [initialValue]="pokemonData.level"
    >
    </app-input>
    
    <mat-error *ngIf="form.controls['type'].hasError('required') && form.controls['type'].dirty"> Type is required</mat-error>

    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select name="food" formControlName="type" [(value)]="pokemonData.type">
        <mat-option *ngFor="let type of pokemonTypes" [value]="type.id">
          {{type.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="login-btn">
      <app-button *ngIf="form.valid">
        {{dialogData.buttonType}}
      </app-button>
    </div>

  </form>
</div>
