<div class="mat-elevation-z8">
  <div class="operations">
    <app-button class="add-button" (click)="onCreate()"
      >Add New Pokemon</app-button
    >
  </div>
  <h2 class="heading">Pokemon List</h2>
  <table mat-table [dataSource]="dataSource" class="table">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let pokemon">{{ pokemon.name }}</td>
    </ng-container>

    <!-- Level Column -->
    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef>Level</th>
      <td mat-cell *matCellDef="let pokemon">{{ pokemon.level }}</td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let pokemon">{{ pokemon.type | type }}</td>
    </ng-container>

    <!-- CreatedOn Column -->
    <ng-container matColumnDef="createdOn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CreatedOn</th>
      <td mat-cell *matCellDef="let pokemon">{{ pokemon.createdOn | time }}</td>
    </ng-container>

    <!-- UpdatedOn Column -->
    <ng-container matColumnDef="updatedOn">
      <th mat-header-cell *matHeaderCellDef>UpdatedOn</th>
      <td mat-cell *matCellDef="let pokemon">{{ pokemon.updatedOn | time }}</td>
    </ng-container>

    <!-- update Column -->
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let pokemon">
        <app-button (buttonClick)="onUpdate(pokemon)">Update</app-button>
      </td>
    </ng-container>
    <!-- Delete Column -->

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let pokemon">
        <app-button (buttonClick)="onDelete(pokemon.id)">Delete</app-button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <!-- pagination -->
  <mat-paginator
    [pageSizeOptions]="[5, 10, 15]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
