<h1 mat-dialog-title>{{alertDialogData.dialogTitle}}</h1>
<h3 mat-dialog-title>{{alertDialogData.dialogContent}}</h3>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onCancel()">No</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="onConfirm()">Yes</button>
</div>
